<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de projetos</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cliente</th>
                            <th>Progresso</th>
                            <th>Status</th>
                            <th>Data de termino</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="o in projects | itemsPerPage: projectsPerPage"
                            total-items="totalProjects" current-page="pagination.current">
                            <td>{{o.name}}</td>
                            <td>{{o.client.data.name}}</td>
                            <td>{{o.progress}}</td>
                            <td>{{o.status.status}}</td>
                            <td>{{o.due_date | dateBr}}</td>
                            <td>
                                <a ng-href="#/projects/{{o.id}}/edit"><i class="fa fa-pencil-square-o spinner-md text-green" title="Editar"></i></a> |
                                <a ng-href="#/projects/{{o.id}}/remove"><i class="fa fa-trash-o spinner-md text-danger" title="Excluir"></i></a> |
                                <a ng-href="#/projects/{{o.id}}/notes"><i class="fa fa-sticky-note-o spinner-md text-yellow" title="Notas"></i></a> |
                                <a ng-href="#/projects/{{o.id}}/files"><i class="fa fa-file-o spinner-md text-black" title="Arquivos"></i></a> |
                                <a ng-href="#/projects/{{o.id}}/tasks"><i class="fa fa-tasks spinner-md text-gray" title="Tarefas"></i></a> |
                                <a ng-href="#/projects/{{o.id}}/members"><i class="fa fa-user-plus spinner-md" title="Membros"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>